*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: white;
    padding: 15px;
}
h1,ul{
    display: inline;
}
li{
    display: inline;
}
ul{
    margin-left: 70%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: white;
}

input{
    width: 60%;
    padding: 10px;
    font-size: 16px;
    margin-top: 20px;
}
.box{
    
    margin: 30px;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
.box:hover{
    background-color: black;
    color: white;
}
.products{
    text-align: center;
}
.par{
    border: solid;
    border-width: 2px;
    border-color: black;
    margin: 20px;
}
.us{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}